body {
  background-color: #ffffff;
  font-family: dubai;
  font-size: 30px;
  color: #aba433;
}

.text-logo{
    font-family: The Bjorke;
}
.header{

}

footer {
background: #eeeeee;

}
